{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="app" class="container-login">
    <div class="center-login">
      <h1 class="head-login">ACCOUNT LOGIN</h1>
        <form  action = "" method="post">
          {% csrf_token %}
            <div class="form-group">
              <input id="username" name="username" type="text" class=" input-login form-control" aria-describedby="emailHelp" placeholder="  Username">
            </div>
            <div class="form-group">
              <input id="password" name="password" type="password" class=" input-login form-control" placeholder="  Password">
            </div>
            <button type="submit" class="btn btn-dark submit-btn" >Submit</button>
        </form>
        <!-- <h1 style="color: red;">{{password}}</h1> -->
        {% for message in messages %}
        <div id="messages" class="alert alert-info" role="alert" style="margin-top: 10px;">
          {{message}}
        </div>
        {% endfor %}
        <div class="span-signUp">
          <span>
            Don't have an account? 
            <a style="color: rgb(250, 121, 0);" href="{% url 'register' %}">sign up</a>
          </span>
        </div>
        
    </div>
  </div>

{% endblock %}