body{
    background-color: rgb(37, 37, 37);
    font-family: 'Sen';
}


.main-block{
    margin-top: 5%;
}

.form-align{
    padding: 10%;
}

.navbar-edit{
    background-color: rgb(37, 37, 37);
    margin: 10px 40px;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    
    font-weight: bold;
    text-decoration: underline;

} 

.container-login {
    height: 92.5vh;
    position: relative;
  }
  
.center-login {
background-color: white;
padding: 6% 7% 2% 7%;
margin: 0;
width: 38%;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);

}

.input-login{
    border-radius: 1px;
}

.input-login:focus{
    border-color: rgb(255, 171, 61);
  -webkit-box-shadow: none;
  box-shadow: rgb(255, 171, 61);
}

.head-login{
    font-size: 3vh;
    margin-bottom: 10%;
    text-align: center;
}

.span-signUp{
    text-align: center;
    margin-top: 20%;
}

.submit-btn{
    width: 100%;
    align-items: center;
    align-content: center;
    border-radius: 1px;
}
.submit-btn:hover{
    background-color: rgb(255, 171, 61);
    border-color: rgb(255, 171, 61);
}

.pic-cover-fill{
    max-width: 50%;
}

.Absolute-Center {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 0;
    padding: 10% 5%;
  }

  .error-detect{
      padding: 2% 2%;
      background-color: rgb(255, 113, 142);
      border-radius: 2px;
      
  }


@media screen and (max-width: 978px) {
    .pic-cover-fill{
        max-width: 100%;
    }
}



